$backround-color: #40557F;
$num-background: #EAE7E7;
$timer-text: black;
$type-text: #EAE7E7;
$type-background: #587F07;
$break-background: #D4462B;
$circle-fill: black;
$circle-stroke: #EAE7E7;

/*
pomodoroClock git:(master) ✗ sass --watch .:.
*/


body {
    background-color: $backround-color;
}

.outer {
    width: 100%;
}

.center {
    margin: 0 auto 0 auto;
}

.container {
    max-width: 600px;
    min-width: 360px;
    svg {
        width: 250px;
        height: 250px;
        margin: auto;
        display: block;
    }
}

.nums {
    color: $timer-text;
    background-color: $num-background;
    border-radius: 20px;
    text-align: center;
    line-height: 2.5em;

    span {
        font-size: 2.5em;
    }
}

.typeText {
    font-size: 2.3em;
    padding-top: 8px;
    padding-bottom: 8px;
    /*background-color: $type-background;*/
    max-width: 50%;
    border-radius: 5px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 10px grey;
    color: $type-text;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.breakBackground {
        background-color: $break-background;
    }

.workBackground { background-color: $type-background; }

#svgContain {
    max-width: 75%;
    margin: auto;
}

#fill {
    stroke: none;
    fill: $circle-fill;
}

#circleBase {
    stroke: $circle-stroke;
    fill: $circle-fill;
}

#count {
    fill: white;
    text-anchor: middle;  
}
#textBox {
    stroke: black;
    stroke-width: 3;
    fill: none;
}

input {
    border: none;
    background-color: $num-background;
    font-size: 2.5em;
    width: 25%;
    text-align: center;
    -webkit-appearance: none;
    margin-top: 5px;
}

*:focus {
    outline: none;
}
