/* Animation setup */
@keyframes example {
    0% {fill: #E5E5E5;}
    100% {fill: yellow;}
}

/*  #circle {
    animation: example 4s alternate infinite;
}*/
  

  .test {
    color: blue;
    font-size: 45px;
  }

  #rect1 {

  }

  #circleBase {

  }