.outer {
  width: 100%;
}

.center {
  margin: 0 auto 0 auto;
}

.container {
  max-width: 85%;
  background-color: gray;
  height: 100%;
  svg {
    width: 50%;
    height: 100%;
    margin: auto;
    display: block;
  }
}

.nums {
  font-size: 2.3em;
  color: white;
  text-align: center;
}